html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", times;
}

h1 {
    text-align: center;
}

.cupcake {
    height: 50px;
    width: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

/* side nav menu */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #111187;
}

.menu .closebtn {
    font-size: 25px;
    position: absolute;
    top: 1px;
    right: 15px;
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .col-5 {
        width: 50%
    }
    .menu {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* main banner*/

.bann {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(imgs/cup.jpg);
    height: 300px;
    padding-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}


.bann h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* input forms*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: #988;
    padding: 30px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
